@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:plum;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header {
  background-color:indigo;
  padding: 7px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Bungee Spice', cursive;
}

.input-area {
  position: relative;
  width: 480px;
  margin: 20px auto;
  background: inherit;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.input-area input, .input-area textarea {
  width: 75%;
  border: 0.1rem solid black;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.input-area input {
  border-radius: 5px 5px 0px 0px;
  font-size: 2rem;
  font-weight: 600;
  color: indigo;
  margin-bottom: 5px;
}

.input-area textarea {
  border-radius: 0px 0px 5px 5px;
  font-size: 1.5rem;
  font-weight: 300;
  color: orangered;
}

.input-area button {
  padding: 5px;
  margin: 5px 5px 5px auto;
  display: block;
  border-radius: 10px;
  background-color: chartreuse;
  cursor: pointer;
}

.note {
  margin: 30px 20px;
  border-style: dotted;
  border-width: 2px;
  border-color: indigo;
  border-radius: 10px;
  width: 240px;
}

.note h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  color: indigo;
  padding: 5px 10px;
}

.note h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  color: orangered;
  padding: 5px 10px;
}

.note h4 {
  font-family: 'Dosis', sans-serif;
  font-size: 0.75rem;
  color:darkslategrey;
  padding: 5px 10px;
}

.note button {
  display: block;
  margin: 5px 5px 5px auto;
  padding: 5px;
  border-radius: 10px;
  background-color:indianred;
  cursor: pointer;
}

footer {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}
